<div class="container mt-auto">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href={{path('blog')}} class="nav-link px-2 text-body-secondary">Accueil</a></li>
      <li class="nav-item"><a href={{path('article_new')}} class="nav-link px-2 text-body-secondary">Nouvel article</a></li>
      <li class="nav-item"><a href={{path('category_new')}} class="nav-link px-2 text-body-secondary">Nouvelle catégorie</a></li>
    </ul>
    <p class="text-center text-body-secondary">UE L222 - Ada Lovelace team</p>
  </footer>
</div>
